{% extends 'inbox/inbox_base.html' %}

{% block inbox %}
  {% for name, sms, time, unread, contact_id, messages in conversations() %}
      <div class="messages" id="{{'#inbox' + contact_id}}" style="display:none" xmlns="http://www.w3.org/1999/html">
          <header class="contact-profile">
              <img style="height:30px; width:30px; margin:10px;" class="img-circle medium-image" src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
              <p> {{name}} </p>
          </header>
          <ul class="{{'messages scroller m' + contact_id}}">
              {% for message in messages %}
                {% if message['sender_id'] == user_id %}
                  <li class="sent">
                      <img class="img-circle medium-image" style="height:20px; width:20px" src="http://emilcarlsson.se/assets/mikeross.png" alt="" />
                      <p>{{ message['message'] }}</p>
                  </li>
                {% else %}
                  <li class="replies">
                      <img class="img-circle medium-image" style="height:20px; width:20px" src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
                      <p>{{ message['message'] }}</p>
                  </li>
                {% endif %}
              {% endfor %}
          </ul>
          <footer class="message-input">
              <form class="wrap" method="post" action="/inbox/{{contact_id}}">
                  <input class= "new-message" id="{{'#inbox-new-message-' + contact_id}}" name="{{contact_id}}" type="text" placeholder="Write your message..." required/>
                  <input name= "contact_id" style="display:none" value="{{ contact_id }}"/>
                  <button type="submit" onclick="send_message('{{contact_id}}')">
                      <i class="fa fa-paper-plane"></i>
                  </button>
              </form>
          </footer>
      </div>
  {% endfor %}
{% endblock %}
