{% extends 'base.html' %}

{% block content %}
<!--    <link rel="stylesheet" href= "{{ url_for('static', filename='inbox.css') }}" />-->
    <link rel="stylesheet" href= "{../../static/css/inbox.css" />
    <script type="text/javascript" src="../../static/js/inbox.js" />
    <div id="inbox-wrapper">
      <div id="inbox">
        <header>
            <img alt="" style="height:40px; width:40px;" class="img-circle medium-image" src="https://bootdey.com/img/Content/avatar/avatar1.png">
            <button class="new-message" onclick="contacts_list('contacts')"></button>
        </header>
        <div class="search">
            <input type="text" placeholder="rechercher dans vos discussions" />
        </div>
        <div class="tab-content inbox scroller">
            <div class="conversations">
                <ul class="list-unstyled conversations">
                    {% for name, message, datetime, unread, contact_id, _ in conversations() %}
                        <li id="{{'user'+contact_id }}">
                            <div class="profile">
                                <span>
                                    <img alt="" style="height:50px; width:50px;" class="img-circle medium-image" src="https://bootdey.com/img/Content/avatar/avatar1.png">
                                </span>
                            </div>
                            <div class="conversation-summary" onclick="messages('{{contact_id}}')" >
                                <div class="info-top">
                                    <span class="contact-name"> {{ name }} </span>
                                    <span class="last-message-time"> {{ datetime }} </span>
                                </div>
                                <div class="info-bottom">
                                    <span class="last-message"> {{ message }} </span>
                                    {% if unread > 0 %}
                                        <span class="unread-messages-count numberCircle"> {{ unread }} </span>
                                    {% endif %}
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
      </div>
      <div id="discussion">
          <div class="new-message" style="display:flex;">
              <div class="chat" onclick="contacts_list('contacts')">
                  <div class="background"></div>
                  <svg class="chat-bubble" width="100" height="100" viewBox="0 0 100 100">
                    <g class="bubble">
                      <path class="line line1" d="M 30.7873,85.113394 30.7873,46.556405 C 30.7873,41.101961
                      36.826342,35.342 40.898074,35.342 H 59.113981 C 63.73287,35.342
                      69.29995,40.103201 69.29995,46.784744" />
                      <path class="line line2" d="M 13.461999,65.039335 H 58.028684 C
                        63.483128,65.039335
                        69.243089,59.000293 69.243089,54.928561 V 45.605853 C
                        69.243089,40.986964 65.02087,35.419884 58.339327,35.419884" />
                    </g>
                    <circle class="circle circle1" r="1.9" cy="50.7" cx="42.5" />
                    <circle class="circle circle2" cx="49.9" cy="50.7" r="1.9" />
                    <circle class="circle circle3" r="1.9" cy="50.7" cx="57.3" />
                  </svg>
              </div>
              <div id="contacts" class="contact-list scroller" style="display:none">
                  {% for contact in contacts %}
                  <div>
                      <img alt="" class="img-circle medium-image" style="height:30px; width:30px; margin-right:5px" src="https://bootdey.com/img/Content/avatar/avatar1.png">
                      {{ contact.get('f')['first_name'] + ' ' + contact.get('f')['last_name'] }}
                  </div>
                  {% endfor %}
              </div>
          </div>
          {% block inbox%} {% endblock %}
      </div>
    </div>
{% endblock %}