{% extends "base.html" %}

{% block content %}
  <div class="card-wrapper">

    <div class="card">

      <h1 class="center">Dashboard</h1>
      <p class="center">You are currently logged in.</p>

      <div class="center">
        <a href="/user/signout" class="btn btn--secondary">Sign Out</a>
      </div>
    
    </div>

    <div class="card">

      <h2 class="center">Your Info</h2>
      <p>
        <strong>ID:</strong> SESSION_ID <br>
        <strong>Name:</strong> SESSION_NAME<br>
        <strong>Email:</strong> SESSION_EMAIL
      </p>
    
    </div>
  
  </div>
{% endblock %}