{% extends 'base.html' %}

{% block content %}
    <div class="wrapper">
        <link rel="stylesheet" href="../../static/css/dashboard.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <!-- sidebar -->
        <div class="sidebar bg-darkblue">
            <object  data="icon/menu.svg"></object>
            <div>
                <object  data="icon/magnifying-glass.svg"></object>
                <object  data="icon/envelope.svg"></object>
                <object  data="icon/heart.svg"></object>
                <object  data="icon/gear.svg"></object>
            </div>
            <object  data="icon/logout.svg"></object>
        </div>
        <!-- profile -->
        <section class="profile">
            <div  class="records">
                <div>
                    <div class="marks">
                        <h1 class="orange">0</h1>
                        <p>Nombres de <br> Visites</p>
                    </div>
                    <div class="marks">
                        <h1 class="blue">0</h1>
                        <p>Peintures</p>
                    </div>
                    <div class="marks">
                        <h1 class="orange">0</h1>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="info">
                <h3> Dashboard Personnel </h3>
                <p>Bienvenue
                    <br><span class="fw">USER_FIRSTNAME</span></br>
                </p>
            </div>
        </section>
        <section class="details">
            <div class="history">
                <h3 class="grey fw">  Tableaux vendus: <span class="fw black"> </span></h3>
                <div class="list b-bottom">
                    <img  class="pic" src="imges/pic.jpg" alt="" srcset="">
                    <div class="list-detail">
                        <p>Inconnu</p>
                        <p>nom acheteur: <span class="orange">0</span></p>
                    </div>
                    <div class="score grey">
                        <p>
                            Prix<br> <span >0</span>
                        </p>
                    </div>
                </div>
                <div class="list b-bottom">
                    <img  class="pic" src="imges/pic.jpg" alt="" srcset=""/>
                    <div class="list-detail">
                        <p>Inconnu</p>
                        <p>nom acheteur: <span class="orange">0</span></p>
                    </div>
                    <div class="score grey">
                        <p>
                            Prix<br> <span >0</span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="education">
                <span class="fw grey"> Education</span>
                <div class="todo white bg-blue">
                    <div class="today">
                        <h3>Récapitulatif</h3>
                        <p> On a tous commencé petit un jour</p>
                        <ul class="bg-blue">
                            <li>Aujourd'hui, Avril 21</li>
                        </ul>
                        <ul class="bg-blue">
                            <li><span>Aujoud'hui </span> Beaucoup de ventes </li>
                            <li><span class="orange">1000 </span> Moyenne des Tableaux <i class="far fa-check-circle"></i></li>
                            <li><span class="orange"> 500</span> Prix Min tableau vendue <i class="far fa-check-circle"></i></li>
                        </ul>
                    </div>
                    <div class="tomarrow">
                        <ul>
                            <li><span>Prédiction prix à mettre</span> </li>
                            <li>650</li>
                            <li>Vers 18h</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="notification">
                <div  class="message bg-black white">
                    <h3>Nombre de Jours connectés</h3>
                    <p>0</p>
                </div>
                <div class="message">
                    <h3>Jours sans Ventes</h3>
                    <p>0</p>
                </div>
            </div>
        </section>

        <section class="information">
            <div class="communication bg-lightgrey">
                <h3 class="grey"> Communication</h3>
                <div class="action">
                    <button class="bg-orange white">Vos Groupes </button>
                    <button class="bg-grey lightgrey "> Vos Evenements</button>
                </div>
                <div class="list">
                    <img  class="pic" src="imges/pic.jpg" alt="" srcset="">
                    <div class="list-detail">
                        <p>Inconnu</p>
                        <p>Peintures vendues <span class="orange">0</span></p>
                    </div>
                </div>
                <div class="list">
                    <img  class="pic" src="imges/pic.jpg" >
                    <div class="list-detail">
                        <p>Inconnu </p>
                        <p>Peintures vendues<span class="orange">0</span></p>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
