{% extends 'base.html' %}

{% block content %}
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/app.css">

    {% for i in range(10) %}
        <article class="card">
            <header class="card-header card-header-avatar">
                <img src="../../img/zeina.png" width="45" height="45" class="card-avatar">
                <div class="card-title">Mon pseudo</div>
                <div class="card-date">Il y'a 10 minutes</div>
            </header>
            <div class="card-body">
                <p>
                    <img src="../../img/arbre1.jpg" alt="Paysage" class="fullwidth">
                <p>
                <p>
                    Un paragraphe est une section de texte en prose vouée au développement d'un point particulier
                    souvent au moyen de plusieurs phrases, dans la continuité du précédent et du suivant.
                </p>
            </div>
            <footer class="card-footer">
                <a class="card-like" href="#">120 pouces</a>
                <a class="card-comments" href="#">12 commentaires</a>
            </footer>
        </article>
    {% endfor %}
    <aside class="aside">
        <article class="card profil" >
            <header class="card-header card-header-avatar">
                <img src="../../img/zeina.png" width="45" height="45" class="card-avatar">
                <div class="card-title">Elton</div>
                <div class="card-date">Inscrit il y'a 10 ans</div>
            </header>
            <div class="card-body">
                <p>
                    Trés heureux de vous revoir parmi nous ELLLLLTTTTTTOOOONNNN !
                    Nous espérons que vous avez passé une très bonne journée !
                    Nous vous souhaitons de découvrir de très beaux tabeaux !
                </p>
            </div>
        </article>
        <div class="sidebar-title">Suggestion</div>
        <div class="friends-list">
            {% for friend in ['Alexandra', 'Dorian', 'Elton', 'Jordan', 'Sabina', 'Shaza'] %}
                <div class="friend">
                    <img src="../../img/alex.png" width="73" height="73" class="friend-avatar"></img>
                    <div class="friend-body">
                        <a class="friend-name" href="#"> {{friend}} </a>
                    <div class="friend-connections">15 amis en commun</div>
                    <a class="friend-add" href="#" >Ajouter en amis</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </aside>
{% endblock %}