body {
  display: flex;
  align-items: center;
}

#inbox-wrapper {
  max-width: 1000px;
  min-width: 300px;
  min-height: 500px;
  max-height: 90vh;
  background-color: #a00c0c;
  border-radius: 5px;
  padding: 1px 1px;
  margin: auto;
  display: flex;
  flex-flow: row;
}
#inbox {
  max-width: 350px;
  min-width: 300px;
  max-height: 700px;
  background-color: #242121;
  border-radius: 5px;
  padding: 1px 1px;
  margin: 0px 0px 0px 0px;
  display: flex;
  flex-flow: column;
}
header {
  height: 50px;
  background-color: #916b6b;
}
header > button {
  float: right;
  height: 20px;
  width: 20px;
  color: #916b6b;
}
div.search {
  height: 30px;
  background-color: #5f1818;
  display: flex;
}
div.search > input {
  margin: auto;
}

div.tab-content.inbox {
  margin: 0px 0px;
  padding: 0px;
}
.scroller {
  /* max-height: 500px; */
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  /* scrollbar-width: thin; */
  scrollbar-width: auto;
}

div.conversations {
  margin: 0px 0px;
  padding: 0px;
}

ul.list-unstyled.conversations {
  list-style: none;
  background-color: #f0d90d;
  padding: 0px;
  display: flex;
  flex-flow: column;
}

ul.list-unstyled.conversations > li {
  background-color: #e70a24;
  display: flex;
  flex-flow: row;
  height: 75px;
  cursor: pointer;
}
ul.list-unstyled.conversations > li:hover {
  background-color: blue;
  display: flex;
  flex-flow: row;
  height: 75px;
}
li > div.profile {
  background-color: hsl(0, 31%, 54%);
  padding: 5px 5px;
  display: flex;
  align-items: center;
}

img.img-circle {
  object-fit: cover;
  border-radius: 50%;
}

li > div.conversation-summary {
  background-color: #c4b5b5;
  padding: 0px 5px;
  margin: 1px 0px;
  display: flex;
  flex-flow: column;
  flex-basis: 100%;
  justify-content: space-around;
  margin-right: 5px;
}
li > div.conversation-summary > div.info-top {
  background-color: #5e9b46;
  height: 20%;
}
li > div.conversation-summary > div.info-bottom {
  background-color: #31106d;
  height: 20%;
}

div.info-top > h3.contact-name {
  float: left;
}

div.info-top > span.last-message-time {
  float: right;
}

h5.last-message {
  float: left;
}

span.unread-messages-count {
  float: right;
}

.numberCircle {
  border-radius: 50%;
  text-align: center;
  border: 2px solid #666;
  background-color: #2870ff;
}

#discussion {
  max-width: 1000px;
  min-width: 700px;
  max-height: 700px;
  background-color: #242121;
  border-radius: 5px;
  padding: 1px 1px;
  margin: 0px 0px 0px 0px;
  display: flex;
  flex-flow: column;
}

/* Contact list */
div.new-message {
  display: flex;
  flex-flow: row-reverse;
  width: 60%;
  height: 100%;
  background-color: green;
  align-items: center;
}

div.contact-list {
  display: block;
  width: 50%;
  max-height: 80%;
  margin: auto;
}

div.contact-list > div:hover {
  background-color: blue;
  margin: 5px;
  display: flex;
  align-items: center;
}

/* Chat Bubble */
.chat {
  display: flex;
  position: relative;
}
.background {
  background-color: #1950ff;
  border-radius: 50%;
  box-shadow: 0 2.1px 1.3px rgba(0, 0, 0, 0.044),
    0 5.9px 4.2px rgba(0, 0, 0, 0.054), 0 12.6px 9.5px rgba(0, 0, 0, 0.061),
    0 25px 20px rgba(0, 0, 0, 0.1);
  height: 80px;
  left: 10px;
  position: absolute;
  top: 10px;
  width: 80px;
}
.chat-bubble {
  cursor: pointer;
  position: relative;
}
.bubble {
  transform-origin: 50%;
  transition: transform 500ms cubic-bezier(0.17, 0.61, 0.54, 0.9);
}
.line {
  fill: none;
  stroke: #ffffff;
  stroke-width: 2.75;
  stroke-linecap: round;
  transition: stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 90;
  stroke-dashoffset: -20;
}
.line2 {
  stroke-dasharray: 67 87;
  stroke-dashoffset: -18;
}
.circle {
  fill: #ffffff;
  stroke: none;
  transform-origin: 50%;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.active .bubble {
  transform: translateX(24px) translateY(4px) rotate(45deg);
}
.active .line1 {
  stroke-dashoffset: 21;
}
.active .line2 {
  stroke-dashoffset: 30;
}
.active .circle {
  transform: scale(0);
}
/* End Chat Bubble */

/* Mesages */
div.messages {
  height: 100%;
  background-color: #31106d;
  display: flex;
  flex-direction: column;
}
header.contact-profile {
  display: inline-flex;
  width: 100%;
  align-self: flex-start;
}
ul.messages {
  list-style: none;
  padding-right: 40px;
  display: flex;
  flex-direction: column-reverse;
  flex: 1;
  background-color: greenyellow;
}

li.sent {
  display: flex;
  flex-direction: row-reverse;
  background-color: blue;
}

li.replies {
  display: flex;
  flex-direction: row;
  background-color: rgb(218, 13, 23);
}
li > p {
  border-radius: 10px;
  max-width: 70%;
  background-color: gray;
  padding: 10px;
}

footer.message-input {
  display: flex;
  width: 100%;
  background-color: red;
}

footer.message-input > .wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 10px;
  background-color: gray;
}

footer.message-input > .wrap > input {
  display: flex;
  width: 100%;
}

button.submit {
  align-self: right;
  width: 5%;
  height: 25px;
  margin: 3px;
  color: #fff;
  background-color: #2870ff;
  border: none;
  border-radius: 3px;
}
i.fa-paper-plane {
  color: orchid;
}
/* End Messages */