:root{
    --white:white;
    --black:black;
    --orange:#ff8f00;
    --darkblue:#100c63;
    --blue:#5447C8; 
    --seablue:#6559cd; 
    --grey:#b3adb1;
    --lightgrey:#f3f0f0;
    --red:#d1410d;
    --yellow:rgba(255, 255, 0, 0.87);
    --brown:#594348;
}

*{
    box-sizing: border-box;
    margin:0px;    
    background-color: transparent;
}

body{
    font-family: 'Montserrat', sans-serif;    
}

 h2,h4,h5{
    margin:1rem;
    font-size: 16px;
}

h3 , p{
    font-size: 14px;
    margin: .6rem;
}
span{
    font-size: 12px;
}


 /* color */
 .white{
     color: var(--white);
 }
 .black{
    color:var(--black);
}
.orange{
    color: var(--orange);
}

.grey{
    color: var(--grey)
}
.lightgrey {
    color: var(--lightgrey);
}

.blue{
    color: var(--blue);
}


.bg-black{
    background-color: var(--black);
}

.bg-white{
    background: var(--white);
}

.bg-orange{
    background-color: var(--orange); 
}

.bg-blue {
    background-color: var(--blue); 
}

.bg-darkblue{
    background-color: var(--darkblue);
}

.bg-lightgrey{
    background-color: var(--lightgrey); 
}

.bg-grey{
    background-color: var(--grey);
}

.bg-yellow{
    background-color: var(--yellow);
}
/* font-weight */

.fw{
    font-weight: 800;
}

/* wrapper */

.wrapper {
    width:100%;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "sidebar profile profile profile"
            "sidebar  details details details"
                                   "sidebar information information information";
                                   grid-template-rows: 1fr 1fr 1fr ;
                                   grid-template-columns: 1fr repeat(3, 5fr);

}

/* wrapper end  */

/* sidebar */

.sidebar{
    overflow: hidden;
    justify-self:  left;
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  
}

.sidebar > div object{
margin-bottom: 2em;
}

.sidebar object{
    width:25px;
    height: 25px;
    margin: 1em; 
    display: block;
}
/* sidebar end */

/* profile */
.profile{
    grid-area: profile;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    background-image:linear-gradient(to right, white 60% , var(--lightgrey) 60%) ;
    padding-top: .5rem;
}

.records{
    grid-column: 3/4;
    display: flex;
    flex-direction: column;
    
}

.records > div , .marks {
    display: flex;   
}


.marks{
    color: var(--grey)  ;
    width: 175px;
    height: 75px;
      background-color: var(--lightgrey);
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    margin-right: .5rem;
}



.info{
    grid-column:  2/6;  
    justify-self: center;
    text-align: center;
    padding: .6rem 0 0 0;   
    line-height: 1.5;
 
}


.profilepic{
    width:80px;
    height: 80px;
    border-radius: 80px;
    object-fit: cover;
}

/* profile end */

/* detail css start */
.details{
    grid-area: details ;
    display: grid;
    grid-template-columns: repeat(5,1fr) ;
    overflow: visible;
     grid-template-rows: 290px;
     background-image:linear-gradient(to right, white 60% , var(--lightgrey) 60%) ;
    
}

.history{
    grid-column: 1/3;
   display: flex;
   flex-direction: column;
   padding-top: .6rem;  
}

.list{
    display: flex;
padding-bottom: .5em;    
}

.b-bottom{
    margin-bottom: .6em;
    border-bottom: 1px solid #efefef;
}

.list-detail {
    display: flex;
    flex:4;
    flex-direction: column;
    align-items: flex-start;
 
}

 .list-detail p {
    margin:.2em;
    color:var(--grey)
} 

.list-detail p:nth-child(1), .score span{
    font-weight: 700;   
    color:black;
}

.pic{
    width:50px;
    height: 50px;
    border-radius: 10px;
    object-fit: cover;
    align-items: center;
    margin: 0 .5em;
}

.education{
    grid-column: 3/5;
    text-align: center;
    overflow: visible;
    z-index: 3;
}

.education> span{
  margin-left:100px;
}
.todo{
    display: flex;
    font-size: 12px;
    padding: 1em ;
    border-radius: 20px;
    margin:.5rem 0  0 1rem ;
     text-align: left;
     height: 260px;
     width:450px;
    box-shadow: 21px 25px 35px -9px rgba(102,102,102,0.52);
}

.today{
flex:2;
padding-left: .5em;

}

.todo ul{
  list-style-type: none;
  padding: .5em;
   background-color: var(--seablue);
  margin:.5em
}
.todo ul li{
    font-size: 12px;
    margin: .8em;
    display: flex;
    justify-content: space-between;
}

.tomarrow{
    flex:1;
    align-self: flex-end;
}

.notification{
    grid-column: 5/6;
   font-size: 12px;
   display: flex;
   flex-direction: column;
   justify-content: space-around; 
   padding-top: 2rem;
}

.notification .message{
    width: 200px;
    height: 120px;
    border:1px solid var(--black);
     padding: .7rem;
    text-align: center;
   border-radius: 1rem;
}


/* details css end */
.information{
    grid-area: information;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.blog{
    display: flex;
    grid-column: 1/4;
    border: 1px solid var(--grey);
    z-index: -2;
    margin:   .5rem 1rem;
    border-radius: 10px;
    box-sizing: border-box;
    padding: .4rem 3rem;
    width: 90%;
}

.blog object {
    width:25%;
}

.blog-list > p {
    width: 40%;
    display: inline-block;
    margin-top: 0px;
}

.blog-list div {
 
 width: 100%;
 height: 60px;

}

.blog-list div > h3 {
 padding: 1rem;
   
   }

/* communication */

.communication {
    grid-column: 4/6;
    display: flex;
    flex-direction: column;
    padding: 0 2rem 0 1rem;
   
}
.communication  .action {
display: flex;
margin-bottom: 1rem ;
justify-content: space-around;
}


.communication button{
   
    padding: .6em 1.2em;
    font-weight: 700;
    margin-right: 1rem;
    font-size: 14px;
    border-radius: 6px;
    outline: none;
    border: none;
    
}

