.profile-head {
    transform: translateY(5rem);
}

.cover {
    background : #F1F1F1;
    background-size: cover;
    background-repeat: no-repeat
}

body {
    background: linear-gradient(to right, #e96443, #904e95);
    min-height: 100vh
}

h4 {
    
    color: #000000;
}