{% extends 'base.html' %}

{% block content %}
    <div id="sc-edprofile">
        <h1>Edit Profile Form</h1>
        <div class="sc-container">
            <form >
                <input type="text" placeholder={{user["username"]}} name="username"/>
                <input type="password" placeholder="Password" name="password" />
                <input type="text" placeholder={{user["identities"]["name"]}} name="adresse" />
                <input type="text" placeholder={{user["identities"]["website"]}} name="website"/>
                <input type="text" placeholder={{user["identities"]["email"]}} name="email"/>
                <input type="text" placeholder={{user["identities"]["phone"]}} name="phone"/>
                <input type="text" placeholder={{user["identities"]["city"]}} name="city" />
                <input type="text" placeholder={{user["identities"]["level"]}} name="level" />
                <input type="text" placeholder={{user["identities"]["profession"]}} name="profession" />
                <select>
                    <option value="">Male</option>
                    <option value="">Female</option>
                </select>
                <input type="submit" value="Register"/>
            </form>
        </div>
    </div>
{% endblock %}