<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ArtFlow</title>

        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../../static/css/app.css">
    </head>
    <body>
        <header class ="topbar">
            <a href="#" class="topbar-logo">ArtFlow</a>
            <nav class="topbar-nav">
                <a href="{{ url_for('dashboard2')}}">Dashboard</a>
                <a href="{{ url_for('profil') }}">Profil</a>
                <a href="#" class="active">Historique</a>
                <a href="#">Enchères</a>
                <a href="#">Notifications</a>
                <a href="/user/signout" class="btn btn--secondary">Sign out</a>
            </nav>
        </header>
        <div style="display:inline-flex;">
            <nav class="sidebar">
                <a href="{{ url_for('home')}}" class="sidebar-home">Fil d'actualité</a>
                <a href="#" class="sidebar-home">Poster</a>
                <a class="sidebar-messages", href="{{ url_for('inbox')}}">Messages</a>
                <a href="#" class="sidebar-events">Evènements</a>
                <a href="#" class="sidebar-groupes">Groupes</a>
                <a href="#" class="sidebar-amis">Amis</a>
            </nav>
            <main class="main">
                {% block content%} {% endblock %}
            </main>
        </div>
    </body>
</html>